@use "./vars" as *;
@use "./mixins" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: $dark;
  scrollbar-width: thin;
  scrollbar-color: $light $transparent-dark;
}

html,
body,
#app {
  max-width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  overflow-x: hidden;
}

#app > .content {
  flex: 1;
}

body {
  background-image: url("/src/assets/img/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

input,
textarea,
select {
  outline: none;
}

input,
textarea,
select,
button {
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
}
