$dark: #01172f;
$transparent-dark: rgba(1, 23, 47, 0.3);
$blue: #2e86ab;
$transparent-blue: rgba(46, 134, 171, 0.3);
$light: #bddbd0;
$transparent-light: rgb(189, 219, 208, 0.3);
$orange: #d84727;
$transparent-orange: rgb(216, 71, 39, 0.3);
$green: #27d877;
$transparent-green: rgb(39, 216, 119, 0.3);
