@mixin Title {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.03em;
}

@mixin Flex-V {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
}

@mixin Flex-C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@mixin Flex-H {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@mixin GlassBackground {
  /* From https://css.glass */
  background: rgba(189, 219, 208, 0.29);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(189, 219, 208, 0.49);
}
